<div class="container">
  <div class="row justify-content-center mt-5 mb-3">
    <div class="h1 col-12 col-sm-11 col-md-10 col-lg-9 col-xl-8 blog-header-logo">
        <strong><em><%= @article.title %></em></strong>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-sm-11 col-md-10 col-lg-9 col-xl-8 text-right">
      <% if @article.user == current_user %>
        <%= link_to "Delete", article_path(@article), method: :delete, data: { confirm: "Are you sure?" }, class:"btn btn-sm btn-dark" %>
        <%= link_to 'Edit', edit_article_path(@article), :class => "btn btn-outline btn-sm text-dark" %>
      <% end %>
    </div>
  </div>

  <div class="row text-center justify-content-center my-4">
    <div class="col-12 col-sm-11 col-md-10 col-lg-9 col-xl-8">
      <%= image_tag(@article.cover, :class => "img-fluid") %>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-12 col-sm-11 col-md-10 col-lg-9 col-xl-8">
        <%= @article.content %>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-sm-11 col-md-10 col-lg-9 col-xl-8">
      <% if user_signed_in? || @article.comments.count > 0 %>
        <div class="blog-header-logo text-dark h4 mt-5">
          Replies
        </div>
      <% end %>
      <%= render @article.comments %>
      <% if user_signed_in? %>
        <div class="comment-form">
          <hr />
          <%= render 'comments/form' %>
        </div>
      <% end %>
    </div>
  </div>
</div>


		


